<%= form_for [commentable, Comment.new] do |f| %>
  <div class="form-group">
    <%= f.text_area :body, class: "form-control", placeholder: "Reply to " %>
    <%= f.input :commentable_id,  :as => :hidden, :input_html => { :value => commentable.id } %>
    <%= f.input :commentable_type,  :as => :hidden, :input_html => { :value => commentable.class.name } %>
  </div>
  <%= f.submit class: "btn btn-primary" %>
<% end %>