<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @vendor.name %>
</p>

<p>
  <strong>Legal name:</strong>
  <%= @vendor.legal_name %>
</p>

<p>
  <strong>Type:</strong>
  <%= @vendor.type %>
</p>

<p>
  <strong>Parent:</strong>
  <%= @vendor.parent_id %>
</p>

<p>
  <strong>Lng:</strong>
  <%= @vendor.lng %>
</p>

<p>
  <strong>Lat:</strong>
  <%= @vendor.lat %>
</p>

<p>
  <strong>:</strong>
  <%= @vendor. %>
</p>

<%= link_to 'Edit', edit_vendor_path(@vendor) %> |
<%= link_to 'Back', vendors_path %>
