 <% @owner.nil? ? owner = @owner : @owner = owner %>
 <table class="table table-striped">
        <thead>
        <h4> <%= work_order_title %>
            <% if work_order_title.include?('Current') %>
             <%= " " %> (<%= link_to "All Work Orders", "/#{@owner.class.name.pluralize.underscore}/#{@owner.id}/work_orders" %>)
            <% end %>
        </h4>
        <tr>
            <th>Status</th>
            <th>Title</th>
            <th>Priority</th>
            <th>Due Date</th>
            <th>Description</th>
            <% if authenticated(@owner) %>
            <th></th> 
            <% end %>
        </tr>
        </thead>
        <tbody>
        <% unless work_orders.first.nil? %>
        <% work_orders.each do |work_order| %>  
        <tr>
            <td>
            <% unless work_order.status_id.nil? %>
                <span class="<%="label label-#{status_label(work_order.status_id)}"%>"><i class="fa fa-check"></i> <%= work_order.status.name%></span>
            <% end %>
            </td>
            <td>
                <%= link_to work_order.title, work_order %>
            </td>
            <td>
            <% unless work_order.priority_id.nil? %>
                <span class="<%="label label-#{priority_class(work_order.priority_id)}"%>">
                    <%= work_order.priority.name%>
                </span>
            <% end %>
            </td>
            <td>
                <%= work_order.due_date %>
            </td>
            <td>
                <p class="small">
                    <%= work_order.description %>
                </p>
            </td>
            <% if authenticated(@owner) %>
            <td>
                <a data-toggle="modal" href="<%="#modal-form-work_order-#{work_order.id}"%>">Edit</a>
                <div id="<%="modal-form-work_order-#{work_order.id}"%>" class="modal fade" aria-hidden="true">
                <div class="modal-dialog">
                <div class="modal-body">
                    <%= render partial: "work_orders/form", locals: {work_orderable: @owner, work_order: work_order} %>
                </div>
                </div>
                </div>
                <%= link_to 'Delete', work_order, method: :delete, data: { confirm: 'Are you sure?' } %>
            </td>
            <% end %>

        </tr>
        <% end %>
        <% end %>
        </tbody>
</table>
