<p id="notice"><%= notice %></p>

<p>
  <strong>Vendor:</strong>
  <%= @work_order.vendor %>
</p>

<p>
  <strong>Company:</strong>
  <%= @work_order.company %>
</p>

<p>
  <strong>Agreement:</strong>
  <%= @work_order.agreement %>
</p>

<%= link_to 'Edit', edit_work_order_path(@work_order) %> |
<%= link_to 'Back', work_orders_path %>
