<p id="notice"><%= notice %></p>

<h1>Agreements</h1>

<table>
  <thead>
    <tr>
      <th>Old</th>
      <th>Agreement number</th>
      <th>Agreement version</th>
      <th>Added text</th>
      <th>Title</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @agreements.each do |agreement| %>
      <tr>
        <td><%= agreement.old_id %></td>
        <td><%= agreement.agreement_number %></td>
        <td><%= agreement.agreement_version %></td>
        <td><%= agreement.added_text %></td>
        <td><%= agreement.title %></td>
        <td><%= agreement.description %></td>
        <td><%= link_to 'Show', agreement %></td>
        <td><%= link_to 'Edit', edit_agreement_path(agreement) %></td>
        <td><%= link_to 'Destroy', agreement, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Agreement', new_agreement_path %>
