 <% @owner.nil? ? owner = @owner : @owner = owner %>
 <table class="table table-striped">
        <thead>
        <h4> <%= amendment_title %>
            <% if amendment_title.include?('Current') %>
             <%= " " %> (<%= link_to "All Amendments", "/#{@owner.class.name.pluralize.underscore}/#{@owner.id}/amendments" %>)
            <% end %>
        </h4>
        <tr>
            <th>Status</th>
            <th>Title</th>
            <th>Priority</th>
            <th>Due Date</th>
            <th>Description</th>
            <% if authenticated(@owner) %>
            <th></th> 
            <% end %>
        </tr>
        </thead>
        <tbody>
        <% unless amendments.first.nil? %>
        <% amendments.each do |amendment| %>  
        <tr>
            <td>
            <% unless amendment.status_id.nil? %>
                <span class="<%="label label-#{status_label(amendment.status_id)}"%>"><i class="fa fa-check"></i> <%= amendment.status.name%></span>
            <% end %>
            </td>
            <td>
                <%= link_to amendment.title, amendment %>
            </td>
            <td>
            <% unless amendment.priority_id.nil? %>
                <span class="<%="label label-#{priority_class(amendment.priority_id)}"%>">
                    <%= amendment.priority.name%>
                </span>
            <% end %>
            </td>
            <td>
                <%= amendment.due_date %>
            </td>
            <td>
                <p class="small">
                    <%= amendment.description %>
                </p>
            </td>
            <% if authenticated(@owner) %>
            <td>
                <a data-toggle="modal" href="<%="#modal-form-amendment-#{amendment.id}"%>">Edit</a>
                <div id="<%="modal-form-amendment-#{amendment.id}"%>" class="modal fade" aria-hidden="true">
                <div class="modal-dialog">
                <div class="modal-body">
                    <%= render partial: "amendments/form" %>
                </div>
                </div>
                </div>
            </td>
            <% end %>

        </tr>
        <% end %>
        <% end %>
        </tbody>
</table>
