<% owner = activity_owner(activity) %>
<div class="stream">
    <div class="stream-badge">
        <i class="fa fa-pencil"></i>
    </div>
    <div class="stream-panel">
        <div class="stream-info">
            <a href="#">

                <img src="<%= image_path("#{avatar_url(activity.owner)}") %>" />
                <span><%= link_to owner.name, owner if owner %></span>
                <% if activity.trackable %>
                    <% if activity.trackable.is_matter? %>
                        <%= render partial: 'public_activity/default', locals: {activity: activity} %>.
                    <% end %>    
                    <% if activity.trackable.is_task? %>
                        @<%= render partial: "public_activity/task/#{activity.key.split('.')[1]}", locals: {activity: activity} %>
                    <% end %>
                    <% unless activity.trackable.is_task? || activity.trackable.is_matter? %>
                            <%= render_activity activity %>.
                    <% end %>
                <% end %>
                <span class="date"><%= time_ago_in_words(activity.created_at)  %> ago </span>
            </a>
        </div>
        
        
        <div class="stream-footer">
            <div class="btn-group">
                <button class="btn btn-white btn-xs"><i class="fa fa-thumbs-up"></i> Like this!</button>
                <button class="btn btn-white btn-xs"><i class="fa fa-comments"></i> Comment</button>
                <button class="btn btn-white btn-xs"><i class="fa fa-share"></i> Share</button>
            </div>
            <%= social_tree_for activity.comments.hash_tree %>
        </div>
    </div>
</div>









