<div class="sidebar-title">
    <h3> <i class="fa fa-cube"></i>Assignments</h3>
    <small><i class="fa fa-tim"></i><%= "All Assignments" %></small>
</div>

<ul class="sidebar-list">
    <% @current_assignments.each do |assignment| %>
    <li>
        <a href="<%="#{assignment_show_path_helper(assignment)}"%>">
            <div class="small pull-right m-t-xs">
                <%= time_ago_in_words(assignment.assignable.start_date.to_time) %>
            </div>
            <h4><%= convert_camel(assignment.assignable.class.name) %></h4>
                <%= assignment.assignable.description %>
            <div class="small">Completion with: 22%</div>
            <div class="progress progress-mini">
                <div style="width: 22%" class="progress-bar progress-bar-warning"></div>
            </div>
            <div class="small text-muted m-t-xs"><%= "Deadline: #{assignment.assignable.due_date}" %></div>
        </a>
    </li>
    <% end %>
</ul>