<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            
            <%= render partial: "layouts/header" %>
            <%= render partial: "layouts/mail_box" %>
            <%= render partial: "layouts/employees" %>
            <%= render partial: "layouts/matters" %>
            <%= render partial: "layouts/offices" %>
            <%= render partial: "layouts/trainings" %>
            <%= render partial: "layouts/metrics" %>
                    
        </ul>

    </div>
</nav>