
<%= render partial: "partials/breadcrumb", locals: {item: item} %>


<div class="wrapper wrapper-content">
<div class="row animated fadeInRight">
    <div class="col-lg-5">
        <%= render partial: "partials/profile_details", locals: {item: item} %>
        <%= render partial: "partials/group", locals: {group: item.followers.paginate(:page => params[:page], :per_page => 14), group_name: 'Followers'} %>
        <% if item.tasks.count > 0 %>
            <%= render partial: "partials/group", locals: {group: item.tasks.paginate(:page => params[:page], :per_page => 14),                                                      group_name: 'Tasks'} %>
        <% end %>
        <% if item.issues.count > 0 %>
            <%= render partial: "partials/group", locals: {group: item.issues.paginate(:page => params[:page], :per_page => 14), group_name: 'Issues'} %>
        <% end %>

        <div class="row"></div>
        <div id="participants-list">
            <div class="ibox-content">
                <small>This is example of task list</small>
                <ul class="todo-list m-t ui-sortable">
                    <% item.training_users.each do |training| %>
                      <%= render partial: "partials/participant", locals: {assignment: training, item: item}  %>
                    <% end %>
                </ul>

                <% if (can? :manage, item) %>

                    <div class="btn-group">

                        <%= render partial: "assignments/admin_buttons", locals: {item: item } %>

                    </div>

                <% end %>

            </div>


        </div>

        <div class="row"></div>
        <div id="attachments-list">
          <%= render partial: "partials/attachments", locals: {item: item} %>
        </div>

    </div>
    <div class="col-md-7">
        <%= render partial: "partials/activities_by_date", locals: {activities: @activities} %>
    </div>

</div>
</div>


<%= render partial: "partials/custom_js"  %>

<% content_for :javascript do %>


<script type="text/javascript">


$(document).ready(function() {
  /* Activating Best In Place */
  jQuery(".best_in_place").best_in_place();
});

 $(document).ready(function() {
    $('.summernote').summernote();
  });

$("#new_comment").hide();


$("#follow_buttons").html('<%= escape_javascript(render :partial => "partials/follow_buttons", :locals => {:item => item}) %>');

$("#unfollow").click(function(){
    var request = new XMLHttpRequest();
    var url = $("#unfollow")[0].getAttribute("href");
    request.open('POST', url, true);
    $("#follow_buttons").html('<%= escape_javascript(render :partial => "partials/follow_buttons", :locals => {:item => item}) %>');
});

$("#follow").click(function(){
    var request = new XMLHttpRequest();
    var url = $("#follow")[0].getAttribute("href");
    request.open('POST', url, true);
    $("#follow_buttons").html('<%= escape_javascript(render :partial => "partials/follow_buttons", :locals => {:item => item}) %>');
});



$('.pagination').hide();

$(function() {

    $("span.pie").peity("pie", {
        fill: ['#1ab394', '#d7d7d7', '#ffffff']
    })

    $(".line").peity("line", {
        fill: '#1ab394',
        stroke: '#169c81',
    })

    $(".bar").peity("bar", {
        fill: ["#1ab394", "#d7d7d7"]
    })


});

$(function() {

    $("#sparkline1").sparkline([34, 43, 43, 35, 44, 32, 44, 48], {
        type: 'line',
        width: '100%',
        height: '50',
        lineColor: '#1ab394',
        fillColor: "transparent"
    });


});

</script>

<% end %>
